<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro Usuário</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script defer src="js/bootstrap.min.js"></script>
</head>

<body>
	<form action="/usuario/salvar" method="post" th:object="${usuario}">
		<input type="hidden" th:field="*{id}">
		<label for="nome">Nome: </label> 
		<input type="text" placeholder="Digite o nome aqui" th:field="*{nome}">
		<br/>
		<label for="preco">CPF: </label>
		<input type="number" placeholder="Digite o cpf aqui" th:field="*{cpf}">
		<br/>
		<label for="nome">Data de nascimento: </label> 
		<input type="text" placeholder="dd/mm/aaaa" th:field="*{dataNascimento}">
		<br/>
		<label for="nome">Endereço: </label> 
		<input type="text" placeholder="Digite o endereço aqui" th:field="*{endereco}">
		<br/>
		<label for="nome">E-mail: </label> 
		<input type="email" placeholder="Digite o email aqui" th:field="*{email}">
		<br/>
		<label for="nome">senha: </label> 
		<input type="password" placeholder="Digite a senha aqui" th:field="*{senha}">
		<br/>
		<button type="submit">Salvar</button>
	</form>
</body>
</html>