<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Carrinho | Tempero Bessa</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<nav id="top" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{'/'}">Tempero Bessa</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{'/'}">Inicio</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/pratos/listar'}">Pratos</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item"><a
					class="nav-link" th:href="@{'/usuario/login'}">Login</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item"><a
					class="nav-link" th:href="@{'/usuario/cadastro'}">Cadastro</a></li>
			</ul>
			<span sec:authorize="isAuthenticated()" class="text-light mr-1">Olá,
				[[${#httpServletRequest.remoteUser}]]</span>
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}"
				method="post">
				<button type="submit" class="btn btn-sm btn-primary">Sair</button>
			</form>
		</div>
	</nav>

	<div class="container mt-3 mb-3">
		<table class="table table-striped text-center">
			<caption>Total: [[${total}]]</caption>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Preco</th>
					<th scope="col">Quantidade</th>
					<th scope="col">Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prato : ${pratos.entrySet()}">
					<!-- <td th:text="${prato.getKey().id}"></td> -->
					<td th:text="${prato.getKey().nome}">
					<td th:text="${prato.getKey().preco}"></td>
					<td th:text="${prato.getValue()}"></td>
					<td><a class="btn btn-sm btn-danger"
						th:href="@{/carrinho/remover/{id}(id = ${prato.getKey().id})}">Remover</a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" th:href="@{'/carrinho/finalizar/'}">Finalizar
			Pedido</a>
	</div>
</body>
</html>