<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Tempero Bessa</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<nav id="top" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{'/'}">Tempero Bessa</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{'/'}">Inicio</a></li>
			</ul>
		</div>
	</nav>

	<section class="conainer-fluid m-3">
		<div class="jumbotron">
			<h1 class="display-4">Deu ruim!</h1>
			<p class="lead">Foi só um detalhe técnico, mas eu sei como
				resolver.</p>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>