<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Spring Security Example </title>
    </head>
    <body>
        <form method="post">
            <div><label> E-mail : <input type="text" name="username"/> </label></div>
            <div><label> Senha: <input type="password" name="password"/> </label></div>
            <div><button type="submit">Logar</button></div>
        </form>
    </body>
</html>