<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Listagem | Usuários</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script defer src="js/bootstrap.min.js"></script>
</head>

<body>
	<nav id="top" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{'/'}">Tempero Bessa</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{'/'}">Inicio</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/pratos/listar'}">Pratos</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item"><a
					class="nav-link" th:href="@{'/usuario/login'}">Login</a></li>
				<li sec:authorize="isAnonymous()" class="nav-item"><a
					class="nav-link" th:href="@{'/usuario/cadastro'}">Cadastro</a></li>
			</ul>
			<span sec:authorize="isAuthenticated()" class="text-light mr-1">Olá,
				[[${#httpServletRequest.remoteUser}]]</span>
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}"
				method="post">
				<button type="submit" class="btn btn-sm btn-primary">Sair</button>
			</form>
		</div>
	</nav>

	<h1>Usuarios</h1>
	<ul th:each="usuario : ${usuarios}">
		<li th:text="${usuario.id}"></li>
		<li th:text="${usuario.nome}"></li>
		<li th:text="${usuario.cpf}"></li>
		<li th:text="${usuario.dataNascimento}"></li>
		<li th:text="${usuario.endereco}"></li>
		<li th:text="${usuario.email}"></li>
		<li><a th:href="@{/usuario/excluir/{id}(id=${usuario.id})}">Deletar</a></li>
		<li><a th:href="@{/usuario/atualizar/{id}(id=${usuario.id})}">Atualizar</a></li>
	</ul>
</body>
</html>